.BackToTop {
  background-color:#37475a;
  height: 3.5rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
